{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="settings-section">
    <div class="hero">
        <nav>
            <ul>
                <li><a class="noDecoration" href="{% url 'emobot:public-profile' %}"> Public Profile </a></li>
                <li><a class="noDecoration" href="{% url 'emobot:account-settings' %}"> Account Settings </a></li>
                <li><a class="noDecoration" href="{% url 'emobot:change-password' %}"> Change Password </a></li>
                <li><img src="{% static '/img/moon.png' %}" id="icon"></li>
            </ul>    
        </nav>
        <div class="container">
            <div class="title">Change Password</div>
            <div class="content">
                <form action="" method="POST">
                    {% csrf_token %}
                    <center>
                    <div style="color: green;">
                        {%for message in messages %}
                              {%if "password_updated" in message.tags %}
                                  <p> {{message}} </p>   
                              {%endif%}
                        {%endfor%}
                      </div>
                      <div style="color: red;">
                        {%for message in messages %}
                              {%if "password_notmatch" in message.tags %}
                                  <p> {{message}} </p>   
                              {%endif%}
                        {%endfor%}
                      </div>
                       <div style="color: red;">
                        {%for message in messages %}
                              {%if "password_invalid" in message.tags %}
                                  <p> {{message}} </p>   
                              {%endif%}
                        {%endfor%}
                      </div>
                    </center>
                    <div class="user-details">
                    <div class="input-box">
                        <span class="details">Old Password</span>
                        <input type="password" name="oldpass" placeholder="Enter your old password" required>
                    </div>    
                    <div class="input-box">
                        <span class="details">New Password</span>
                        <input type="password" name="newpass" placeholder="Enter your new password" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="password" name="confirm" placeholder="Confirm new password"required>
                    </div>
                    <div class="button">
                        <input type="submit" value="Save" id="save" name="save">
                </form>
                        <a href="{% url 'emobot:change-password' %}"><button type="button" class="cancel"> Cancel </button></a>
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}