{% load static %}

<!DOCTYPE html>

{% block headerinclude %}
    <title>Emobot</title>
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock headerinclude %}

{% block content %}
    <div class="wrapper">
      <div class="title">Reset Password</div>
      <form method="post">
        {% csrf_token %}    

          <center>
                    <div style="color: red;">
                        {%for message in messages %}
                              {%if "email_not_found" in message.tags %}
                                  <p> {{message}} </p>   
                              {%endif%}
                        {%endfor%}
                      </div>

                      <div style="color: green;">
                        {%for message in messages %}
                              {%if "password_sent" in message.tags %}
                                  <p> {{message}} </p>   
                              {%endif%}
                        {%endfor%}
                      </div>
          </center>
         <center><label>Enter your registed mail</label></center> 
        <div class="field">
          <input type="email" name="email" required>
          <label>Email</label>
        </div>      
        <div class="field">
          <input type="submit" value="Reset" id="reset" name="reset">
        </div>
          <div class="pass-link" style=" text-align: center;"><a href="{% url 'emobot:login' %}">Back to Log in</a></div>
      </form>
    </div>
{% endblock content %}