{% load static %}

<!DOCTYPE html>

{% block headerinclude %}
    <title>Emobot</title>
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock headerinclude %}

{% block content %}
    <div class="wrapper">
      <div class="title">Login Form</div>
      <form method="post">
        {% csrf_token %}
                        <center>
                        <div style="color: red;">
                        {%for message in messages %}
                              {%if "login_incorrect_password" in message.tags %}
                                  <p> {{message}} </p>   
                              {%endif%}
                        {%endfor%}
                      </div>
                      <div style="color: red;">
                        {%for message in messages %}
                              {%if "login_user_notexist" in message.tags %}
                                  <p> {{message}} </p>   
                              {%endif%}
                        {%endfor%}
                      </div>
                      <div style="color: red;">
                        {%for message in messages %}
                              {%if "deleted" in message.tags %}
                                  <p> {{message}} </p>   
                              {%endif%}
                        {%endfor%}
                      </div>
                      <div style="color: red;">
                        {%for message in messages %}
                              {%if "not_activated" in message.tags %}
                                  <p> {{message}} </p>   
                              {%endif%}
                        {%endfor%}
                      </div>
                        </center>        
        <div class="field">
          <input type="text" name="username" required>
          <label>Username</label>
        </div>
        <div class="field">
          <input type="password" name="password" required>
          <label>Password</label>
        </div>
        <div class="content">
          <div class="checkbox">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
          </div>
          <div class="pass-link"><a href="{% url 'emobot:forgot-password' %}">Forgot password?</a></div>
        </div><h3>{{ form.as_p }}</h3>
        <div class="field">
          <input type="submit" value="Login">
        </div>
        <div class="signup-link">Not a member? <a href="{% url 'emobot:register' %}">Signup now</a></div>
      </form>
    </div>
{% endblock content %}