{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="dashboard-section">
        <div class="text">User</div>
        <div class="row">
            <div class="col-md-12 main-datatable">
                <div class="card_body">
                    <div class="row d-flex">
                        <div class="col-sm-8 add_flex">
                            <div class="form-group searchInput">
                                <input type="text" id="myInput" style="color:black" onkeyup="myFunction()" placeholder="Search">
                          <script>
                            function myFunction() {
                              var input, filter, table, tr, td, i, txtValue;
                              input = document.getElementById("myInput");
                              filter = input.value.toUpperCase();
                              table = document.getElementById("example");
                              tr = table.getElementsByTagName("tr");
                              for (i = 0; i < tr.length; i++) {
                                td = tr[i].getElementsByTagName("td")[0];
                                if (td) {
                                  txtValue = td.textContent || td.innerText;
                                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                  } else {
                                    tr[i].style.display = "none";
                                  }
                                }       
                              }
                            }
                            </script> 
                            </div>
                        </div> 
                    </div>
                    <div class="overflow">
                        <div style="padding-left: 1150px;">
                        <a href="{% url 'emobot:export_csv1' %}" class="btn btn-info"> Export </a>
                        </div>

                        <table style="width:100%;" id="example" class="table cust-datatable dataTable no-footer">
                            <thead>
                                <tr>
                                    <th style="min-width:50px;">SessionID</th>
                                    <th style="min-width:100px;">Question_Answered</th>
                                    <th style="min-width:150px;">Emotion</th>
                                    <th style="min-width:150px;">Duration</th>
                                    <th style="min-width:100px;">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for emotion in emotions %} 
                                <tr>
                                <td>{{emotion.SessionID_id}}</td>
                                <td>{{emotion.SessionID.Question_Answered}}</td>
                                <td>{{emotion.Emotion}}</td>
                                <td>{{emotion.SessionID.Duration}}</td>
                                <td>{{emotion.SessionID.Date}}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>  
                </div>
            </div>
    </div>
</section>
{% endblock content %}

